sudo: required
services:
- docker
before_install:
# Install s2i
- |
  go get github.com/openshift/source-to-image
  pushd ${GOPATH}/src/github.com/openshift/source-to-image
  export PATH=$PATH:${GOPATH}/src/github.com/openshift/source-to-image/_output/local/bin/linux/amd64/
  hack/build-go.sh
  popd
script:
- if [ "$TRAVIS_BRANCH" = "master" ]; then DOCKER_PUSH=true && docker login -u="$DOCKER_USER" -p="$DOCKER_PASS" quay.io; fi
- . hack/run build
notifications:
  slack:
    secure: fBgNfe/AgfQgx4Lt5Io8506YnBXSLKIsAJY+zrQsgKl7Ldw62rX0RVO379m/wlA0O+i+35XBrilFWcWFTECtOk8poUI2r2oZCF9VA6wuLm2ezKkXNm0bgmpIctw3onfno+zlkfGXRoa0lMqDNQuWEW/+3L4LnGGw4NgzPDx52bYi2KrvGYfX0Z0yo+CQqnaLJvLMRw5zdgw1kd3SK4Orz9bnT2cy27UizHo881chwUbO/ryRfEfqH1wMlcyqx+g1tRaLOr3b7KZL8DjjtzmlrZTQhuVY7BfFagHwr41H0XjA5nkO3wgctl+MriK97i8DsfsE/VoGYhKumEasQl625RuACywXINylwjC/28XV4So+O1yop3dGNOZ6eKFHriliApxN82BTwemJbxgVHPuvmtWh13hcwC4YmgkoYWFrSLVC4HV/dQpozYiTl5T2PCDxuFA3UUkW4KEqlognOCkLjpLtLAzzHIRILmZ2Mzc2YjA8hLSkdbfgCzsecE0gVFZgoYjyOFBpTYLgmi6NDrEVJCxomeuR8JO5naLyKpDCOLN8HvUHwI0s3HY8TlDBmDeS1eKftsNv06muxLDOA9BBFsnoTHT7ALXi1PsDY0UkmR/GhJ/6eLAWvtXZdladDZZoS0RfKu4cksMqRXNerXlgOmtsBpZBAFubHgc/9Tk0VSY=
env:
  global:
  - secure: nLKHRv8+kBz3PSdj5GsHvUeA8McSQiIfwZq9/3sZLTBf+0Z6ccXk0JihctHCdSvxK/MOdVXdljnRlVfUsQNF124srgPZm6Fa8ccaWtN/GF/OGLNAG3y/5UWPNUNoQhepLl5aShhO6zxsPyTN3JZ2Pn22Rgm2C0Sa1lvpW/OVOsSO24JuRZZxyIkZ+UvMHmDbQkwaGsuIIBsCEP9zZOrAmx/aMuPNNkwaCafT4Bg42WFR+w9CQnLzFNjYLScHhuJiA9VekndCj3Xr68QbF0kmbOx4MJ9OpWLBIvk9mO/J2ylkEdMFZqmvEa/1IXln2gPcjyb5gcVLxWtT5850n5XmEhFc2XN981fTY7Rpyn9d5EU1h61TbUPn/EcVrtci7PtyxQH9VKFox6qeDgEMG59M+K6dKleWlsTiJmnp+t2jyebBpSR6eVkOnLuv2bDenbsHSrP0ZEkr1cgr7EVN+pMBg4dL91BSZSn8CZJHI/71MDYMxSvBsSgDufp2zKaETAnkNTpz0ZikkNVskpE1ooExSBQxXLDFfUgUzyGxcaZHULCaqbZrFYS7jfbDY/hvg3HGtgKorJOlihdI0jGDiZQLyBYO65WHTsrw6xJCGtw1ABZXVWOAPKxRfQ6HDTboFu/fm5UmVIiJpm8+e3/GdpajNOTn8rZZSXtY6AvYtmZmCaM=
  - secure: dpujMZQxS/uEH/d85B+ClZbQ7TxTf8SjZf09m7pVoOkgMHzIGtLugGFvtBBHEkrfUWtxApnlUBRoD723E1ojgKhlSOEOzpdAgbpaQe6QVd0vs1zSOz0dmfsGOXUrHQu0enwfhJRnWPznhndMRHlIN2y9OCGb8z6BQlK+uD3GUWH9fxBXGtp7DcXqZvjzFFll8se/VjU3kZZ3ZfnEwpmz5Y7zmWefz+pfwh6+FXxsdvYjQN154Of4qQvt7hRVfxv64FOGAh84AvPD59R10p06V40vXRubbaA1pN0lIZZRL+Ahs5wVvrRZN+16ByJ/+HcWVTdOtw5FppMRATBbX8pYWzqeM0JKNHWtkVMzJtqhhCBKSIMVFXaxk8UNR5QJ9dq1FXJF26riBmmB5A3/FUuTc7dgmj2S/Z8LUGtnVQgLE5nr5s2xVKyvEvwmbIT52EYOHG/yq/lc8WyBcw/ufxLNMiXcjfGQvDCCvLApt0eqXgE5gJvKxwIrJMZRw49uWrHryR2pZXXB1e15id1bZ3nS8BKYkK0pGV8SU4swtNI9xySPwIDpO0wadyuZm8zGN+u5965XnokilqtMOq8eVCrS2CiiphHCB0rFDsEENMXl3ciB+FvDMvK+b2pHgdjzp+ics3rYtjbKFTK1kSD2x/KZICB665gO3ydhFDjPXyvk2lE=
